<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dna.ez.meciah.gamedatabase"
    android:versionCode="3"
    android:versionName="1.0020">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MinecraftMods"></activity>
        <activity android:name=".MinecraftGuides" />
        <activity android:name=".MinecraftForums" />
        <activity android:name=".MaddenGuides" />
        <activity android:name=".MaddenForums" />
        <activity android:name=".LolStats" />
        <activity android:name=".LolGuides" />
        <activity android:name=".LolForums" />
        <activity android:name=".HSGuides" />
        <activity android:name=".HSForums" />
        <activity
            android:name=".GTAMGuides"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".GTASGuides"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".GTAForums"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".GOWGuides"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".GOWForums"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".FortniteEsports"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".FortniteGuides"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".FortniteForums"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".FifaStats"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".FifaGuides"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".FifaForums"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".FarCryGuides"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Dota2Guides"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Dota2Forums"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Dest2Guides"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Dest2Forums"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".DS3Guides"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".BF5guides"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ASOForums"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".BO4Stats"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".BO4Forum"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AboutActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".FeedbackActivity"
            android:parentActivityName=".MainActivity" />
    </application>

</manifest>