<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dna.ez.meciah.gamedatabase"
    android:versionCode="3"
    android:versionName="1.0020">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".WowGuides"
            android:parentActivityName=".MainActivity"></activity>
        <activity
            android:name=".WowForums"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SmashGuides"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SmashForums"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".RocketTrades"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".RocketGuides"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".RocketForums"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ApexStats"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ApexGuides"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ApexForums"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".RDMG"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".RDSG"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".RDForums"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".R6Stats"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".R6Guides"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".R6Forums"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".OWStats"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".OWGuides"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".OWForums"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".PUBGGuides"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".PUBGForums"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".NBAGuides"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".NBAForums"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MinecraftMods"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MinecraftGuides"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MinecraftForums"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MaddenGuides"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MaddenForums"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".LolStats"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".LolGuides"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".LolForums"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".HSGuides"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".HSForums"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".GTAMGuides"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".GTASGuides"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".GTAForums"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".GOWGuides"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".GOWForums"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".FortniteEsports"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".FortniteGuides"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".FortniteForums"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".FifaStats"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".FifaGuides"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".FifaForums"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".FarCryGuides"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Dota2Guides"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Dota2Forums"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Dest2Guides"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Dest2Forums"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".DS3Guides"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".BF5guides"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ASOForums"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".BO4Stats"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".BO4Forum"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AboutActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".FeedbackActivity"
            android:parentActivityName=".MainActivity" />
    </application>

</manifest>